html {
  font-size: 18px;
}

body {
  font-family: 'Libian TC';
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chalkduster', 'Weibei TC';
}

.font-story {
  font-family: 'Xingkai TC';
  font-weight: 700;
  font-style: italic;
}

.font-story-card {
  font-family: 'Xingkai TC';
  font-weight: 700;
}

.font-writing {
  font-family: 'HanziPen TC' !important;
}
