.font-zh-title {
  font-family: 'Baoli TC';
}

.font-en-title {
  font-family: 'Chalkduster';
}

.font-zh-story {
  font-family: 'Xingkai TC';
}

.font-zh-script {
  font-family: 'LingWai TC' !important;
}
