body {
  font-family: 'Libian TC';
  line-height: 90%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chalkduster', 'Baoli TC';
}

.font-story {
  font-family: 'Xingkai TC';
  font-weight: 700;
  font-style: italic;
}

.font-story-card {
  font-family: 'Xingkai TC';
  font-weight: 700;
}

.font-writing {
  font-family: 'LingWai TC' !important;
}
